/* shared styles */

.btn-primary {
    border-radius: 8px;
    background: #E55473;
    border: none;
    color: #FFF;
    font-family: Lato;
    font-size: 20px;
    font-style: normal;
    padding: 20px 43px;
}

* {
    margin: 0;
    padding: 0;
}

.title-primary {
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 40px;
    font-style: normal;
    margin-top: 120px;

}

.letter-design {
    color: #E55473;
}

/* heading styles  */

nav {
    display: flex;
    gap: 90px;
    background: rgba(229, 84, 115, 0.10);
}

.header-title {
    color: #272727;
    font-family: Lato;
    font-size: 55px;
    font-style: normal;
    margin-bottom: 32px;

}

.header-description {
    color: rgba(39, 39, 39, 0.60);
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    margin-top: 0;
    margin-bottom: 32px;

}

.header-item-text {
    padding: 180px 0 0 200px;
}

.header-image {
    padding: 50px 150px 0 0;
}

/* main-section  */

/* banner section  */

#banner-title {
    margin-bottom: 0;
}

.banner-description {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    margin-top: 24px;
    padding: 0 475px 0 475px;
    margin-bottom: 48px;
}

.rect {
    width: 300px;
    height: 400px;
    flex-shrink: 0;
    border-radius: 300px 300px 0px 0px;
    margin-bottom: 18px;
    box-shadow: 2px 4px 6px gray ;
}

.rect1 {
    background: rgba(167, 33, 98, 0.15);
    background-image: url('../Flower Asset/pngwing 6.png');
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: 70%;
}

.rect2 {
    background: rgba(5, 151, 160, 0.15);
    background-image: url('../Flower Asset/pngwing 5.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 70%;
}

.rect3 {
    background: rgba(71, 125, 17, 0.15);
    background-image: url('../Flower Asset/pngwing 7.png');
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: 70%;
}

.bonus-section {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-bottom: 80px;
}

main a {
    color: #272727;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    text-decoration-line: underline;
    font-weight: 700;
    padding-left: 90px;
}

/* mid section  */

.middle-section-container {
    display: flex;
    justify-content: center;
    gap: 100px;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    padding: 40px 80px;
    margin: 0 300px 80px;
    
}

.mid-text {
    color: rgba(39, 39, 39, 0.80);
    text-align: center;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;

}

.mid-image {
    margin-left: 70px;
}

.mid-image2 {
    margin-left: 18px;
}

/* Offer Section  */

.hot-deal-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
}

.offer-image {

    height: 70%;
}

.offer-title {
    color: #272727;
    font-family: Lato;
    font-size: 30px;
    font-style: normal;
    line-height: normal;
    margin-bottom: 18px;

}


.offer-description {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    margin-bottom: 20px;

}

#offer-details {
    text-align: center;
    padding: 100px 120px 80px 300px;
}

.offer-image {
    padding: 100px 280px 80px 0px;
}


/* Instagram Section  */

.insta-p {
    margin-top: 15px;
    padding: 0 500px;
    margin-bottom: 0;
}

.rec {
    width: 342px;
    height: 396px;
}

.rec1 {
    background-image: url('../Flower Asset/Flower 01.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;

}

.rec2 {
    background-image: url('../Flower Asset/Rectangle 4.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;

}

.rec3 {
    background-image: url('../Flower Asset/Rectangle 5.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;

}

.rec4 {
    background-image: url('../Flower Asset/Rectangle 6.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;

}

.rec-container {
    margin-top: 0;
    display: flex;
    justify-content: center;
    gap: 24px;
    padding: 0 250px;
}

/* Latest deal section  */


.deal-container {
    border-radius: 8px;
    text-align: center;
    background-image: url('../Flower Asset/Rectangle 9.png');
    background-repeat: no-repeat;
    background-size: 100%;
    margin: 0 250px 0;
}

.title-secondary {
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 30px;
    font-style: normal;
    padding: 80px 300px 0;
}

.secondary-description {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    padding: 20px 100px 40px;
}

#email {
    padding: 23px 300px 23px 20px;
    border-radius: 8px;
    background: #FFF;
    border: none;
}

#email-box {
    padding-bottom: 50px;

}

/* Extra Bonus Section */

.outlet-init{
    color: white;
    text-align: center;
    font-family: Lato;
    font-size: 30px;
    font-style: normal;
    margin-top: 80px;
    padding-top: 25px;
    padding-bottom: 10px;
}
.outlet-section{
    background-color: black;
}
.outlet-container{
    display: flex;
    justify-content: center;
    padding: 0 100px 70px;
    
}

.place-image{
    width: 150px;
    height: 80px;
}

.outlet-nearby{
    color: white;
    text-align: center;
    margin: 15px 100px 10px 100px;
    border: 2px solid black;
    box-shadow: 2px 4px 8px gray;
    border: none;
    padding: 15px;
}

.place{
    margin-bottom: 12px;
    font-family: Lato;
    font-style: normal;
    font-size: 20px;
}

.place-image{
    margin-bottom: 12px;
}


/* Footer Section  */

.footer-container {
    text-align: center;
    background: #111010;
    margin-top: 80px;
}

.footer-title {
    color: #FFFFFF;
    font-family: Lato;
    font-size: 30px;
    font-style: normal;
    padding-top: 80px;
    margin-bottom: 20px;
}

.footer-description {
    color: rgba(255, 255, 255, 0.90);
    text-align: center;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    margin-top: 0;
    margin-bottom: 24px;
    padding: 0 500px;
}

.footer-end {
    color: rgba(255, 255, 255, 0.40);
    text-align: center;
    font-family: Lato;
    font-size: 14px;
    margin-top: 0;
    padding-bottom: 80px;
}